/** Font definitions **/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@font-face {
    font-family: 'Uthmani';
    src: url("https://cdn.alquran.cloud/public/fonts/me_quran_2.ttf") format("truetype");
}

@font-face {
    font-family: 'IranNastaliq';
    src: url("/fonts/IranNastaliq.ttf") format("truetype");
}

.en, .fr, .de {
    font-family: 'Playfair Display', serif;
}

.ar {
  font-family: 'Uthmani', serif;
  font-size: 130%;
}

.fa {
  font-family: 'IranNastaliq', serif;
  font-size: 130%;
}
/** Styling **/



.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.quote {
    font-size: 200%;
}

.source {
    color: #81807f;
}

.languageselector {
   position:absolute;
   top:3px;
   right:5%;
   z-index: 1;
}

.gregorianDate {
   position:absolute;
   bottom:3px;
   left:5%;
   z-index: 1;
}

.hijriDate {
   position:absolute;
   bottom:3px;
   right:5%;
   z-index: 1;
}

.aboutLink {
   position:absolute;
   top:3px;
   left:5%;
   color: #ccc;
   z-index: 1;
}

.aboutLink:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.about {
  transform: scale(0.8);
  margin-left: 5%;
  margin-right: 5%;
}
.popup_visible .about {
  transform: scale(1);
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.vendor {
    transition: all ease 3s;
}

.vendor:hover {
    transition: all ease 3s;
}

.amazon:hover {
    content: url('../images/amazon_active.png');
}

.ebay:hover {
    content: url('../images/ebay_active.png');
}

.wordery:hover {
    content: url('../images/wordery_active.png');
}

.youtube:hover {
    content: url('../images/youtube_active.png');
}

.onedrive:hover {
    content: url('../images/onedrive_active.png');
}

.preloader-amazon {
    background: url('../images/amazon_active.png');
    display: none;
}

.preloader-ebay {
    background: url('../images/ebay_active.png');
    display: none;
}

.preloader-wordery {
    background: url('../images/wordery_active.png');
    dislay: none;
}

.preloader-youtube {
    background: url('../images/youtube_active.png');
    dislay: none;
}

.preloader-onedrive {
    background: url('../images/onedrive_active.png');
    dislay: none;
}

.closer {
    margin-top: 35px;
}
