<div id="about" class="about hidden">
  <h1 class="ar center rtl">
    بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ
  </h1>
  <h2>About</h2>
  <p>
    This app is dedicated to stating metaphysical truths. Metaphysics here being defined in the traditional sense
    and reasserted in the 20th century in the writings of Rene Guenon, Frithjof Schuon, Martin Lings and Seyyed Hossein Nasr (as it was
    in classical texts from whence man was wise).
  </p>
  <p>
    Why the need to state a metaphysical truth? Because in the words of Dr. Martin Lings, hearing or
    reading metaphysical truths can awaken the intellect - the faculty bestowed upon us by God to know God.
  </p>
  <p>
    And what could be more important than knowing God?
  </p>
  <p>
    This website is part of the <a href="https://islamic.network" target="_blank">Islamic Network</a>.
  </p>
  <!--<h3>Want to read the book or hear the lecture today's quotation come from?</h3>
  <p>
    The quotations on this website are from a variety of books and lectures. If these are available
    to buy or view anywhere online, the links are provided below.
  </p>-->
  <p id="vendors" class="center"></p>
  <p class="center closer">
    <button class="btn btn-default" id="about_close">&larr; Back</button>
  </p>
  <!--
    <div class="preloader-amazon"></div>
    <div class="preloader-ebay"></div>
    <div class="preloader-wordery"></div>
    <div class="preloader-youtube"></div>
    <div class="preloader-onedrive"></div>-->
</div>
