<div id="languageselector" class="languageselector hidden">
  <select id="languagepicker" data-width="fit">
    <!--<option data-content='<span class="flag-icon flag-icon-gb"></span> English'>English</option>
      <option  data-content='<span class="flag-icon flag-icon-ae"></span> Arabic'>Arabic</option>
      <option  data-content='<span class="flag-icon flag-icon-ir"></span> Persian'>Persian</option>
      <option  data-content='<span class="flag-icon flag-icon-fr"></span> French'>French</option>
      <option  data-content='<span class="flag-icon flag-icon-de"></span> German'>German</option>-->
  </select>
</div>
